@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    /* COLORS */
    --color-font1: #ffa500;
    --nav-bg: #240524;
    --nav-a-hover-clr: #c0c0c0;
    --main-a-hover-clr: #ffa500;
    --main-a-visited-clr: #008300;

    /* BORDER */
    --border: solid red 1px;
    --border-radius: 10px;

    /* FONT SIZE */
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --p-font-size: 1.125rem;
    --caption-font-size: 1.35rem;
}

html {
    box-sizing: border-box;
    color: var(--nav-bg);
    font-family: 'Chicle', cursive;
    letter-spacing: 1.5px;
}

body {
    position: relative;
    min-height: 100vh;
    text-align: center;
    background: url('resources/images/milad-fakurian-PGdW_bHDbpI-unsplash-medium.jpg')
        center/cover fixed;
    overflow: scroll;
}

p {
    font-size: var(--p-font-size);
    line-height: 1.5;
}

.about-p {
    text-align: start;
    max-inline-size: 65ch;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: var(--nav-bg);
    cursor: pointer;
    transition: color 300ms ease-out 100ms;
}
a:hover,
a:focus {
    color: var(--main-a-hover-clr);
}

nav {
    background-color: var(--nav-bg);
    position: fixed;
    inset-block-start: 0;
    inline-size: 100%;
    z-index: 10;
    clip-path: ellipse(80% 100% at 50% 0%);
    font-size: var(--p-font-size);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 1rem;
    color: var(--color-font1);
    transition: all 300ms ease-out 100ms;
    /* border: var(--border); */
}

li {
    list-style-type: none;
}

nav a {
    color: inherit;
}

nav a:hover,
nav a:focus,
nav li:hover,
nav li:focus {
    color: var(--nav-a-hover-clr);
    transform: scale(1.5);
}

main {
    padding-block-start: 4rem;
    padding-block-end: 3rem;
    padding-inline: 1rem;
}

main a:visited {
    color: var(--main-a-visited-clr);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

/* PROJECT CARDS */
#project-list {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    font-size: 1.125rem;
}

.project {
    margin: 1rem 1rem 2rem;
    padding: 0.75rem;
    inline-size: clamp(300px, 30vw, 500px);
    box-shadow: -10px 20px 30px 5px rgba(0, 0, 0, 0.6);
    border-radius: var(--border-radius);
    border-block-start: 1.5px solid rgba(255, 255, 255, 0.5);
    border-inline-end: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    line-height: 1.5;
    /* border: var(--border); */
}

.source {
    padding-block-start: 0.5rem;
}

/* IMAGES */
figcaption {
    font-size: var(--caption-font-size);
}

img {
    inline-size: 95%;
    block-size: 200px;
    object-fit: cover; /* consider using scale-down instead of cover. maybe change size of portrait img */
    object-position: top;
    border-radius: var(--border-radius);
    border-block-start: 1px solid rgba(255, 255, 255, 0.5);
    border-inline-end: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: -5px 10px 15px 2.5px rgba(0, 0, 0, 0.4);
    transition: 700ms linear 100ms;
    /* border: var(--border); */
}
img:hover,
img:focus {
    filter: hue-rotate(200deg);
}

footer {
    position: absolute;
    inset-block-end: 0;
    inline-size: 100%;
    padding: 1rem;
    text-align: center;
    max-block-size: 74px;
    /* border: var(--border); */
}

/* PG TRANSITION */
.transition-1 {
    position: fixed;
    inset-block: 0;
    inset-inline: 0;
    z-index: 11;
    background-color: var(--nav-bg);
    /* so it won't be active by default */
    opacity: 0;
    /* blocks interactivity of page while in transition (works on block or inline-block elements */
    pointer-events: none;
    /* need to know duration b/c in js we need to set a timer delay so we can guess & work w/ the transitions */
    transition: 0.4s ease-out;
}

/* the state when it's active (appears on screen) */
.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}

/* no need to block pointer-events since sliding in/out */
.transition-2 {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 100%;
    /* have to add width to completely remove from screen */
    width: 100%;
    z-index: 11;
    background-color: var(--nav-bg);
    transition: 0.4s ease-out;
}

.transition-2.is-active {
    inset-inline-start: 0;
}

.transition-3 {
    position: fixed;
    inset-block-start: 100%;
    inset-inline: 0;
    /* have to add height to completely remove from screen */
    block-size: 100%;
    z-index: 11;
    background-color: var(--nav-bg);
    transition: 0.4s ease-out;
}

.transition-3.is-active {
    inset-block-start: 0;
}

.transition-4 {
    position: fixed;
    inset-block-end: 100%;
    inset-inline: 0;
    block-size: 100%;
    z-index: 11;
    background-color: var(--nav-bg);
    transition: 0.4s ease-out;
}

.transition-4.is-active {
    inset-block-end: 0;
}

.transition-5 {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 100%;
    inline-size: 100%;
    z-index: 11;
    background-color: var(--nav-bg);
    transition: 0.4s ease-out;
}

.transition-5.is-active {
    inset-inline-end: 0;
}

/* @media screen and (min-width: 1025px) {

} */
